<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dropbox-clone</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">Dropbox</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="{% if username %}/{{username}}{% else %}/logon{% endif %}">Home</a>
		      </li>
              {% if username %}
              <li class="nav-item active">
		        <a class="nav-link" href="/{{username}}/usage">Usage</a>
		      </li>
              {% endif %}
              {% if username %}
		      <li class="nav-item">
		        <a class="nav-link" href="/logout">Logout</a>
		      </li>
              {% else %}
              <li class="nav-item">
		        <a class="nav-link" href="/login">Login</a>
		      </li>
              {% endif %}
		    </ul>
		  </div>
		</nav>
        {% if message: %}
        <div class="container" style="margin-top: 10px;">
        <div class="alert alert-warning" role="alert">
            {{message}}
        </div>
        </div>
        {% endif %}
	</div>
	{% block forms%}{% endblock%}
    {% block files_and_folders %}{% endblock %}
</body>
</html>
